{{>header}}
<form>
    <input type="text" placeholder="Enter An Address" class="inputAddress">
    <br>
    <input type="submit" value="Search" class="searchBtn">
    <p class="locationText"></p>
    <br>
    <p class="summaryText"></p>
    <p class="infText"></p>
    <p class="highAndLow"></p>
</form>
{{>footer}}
